<!DOCTYPE html>
<html>
  <head>
    <title>Upload Image</title>
  </head>
  <body>

    {% if msg %}
    <h1>{{ msg }}</h1>
    {% endif %}
    
    <h1>Upload new File</h1>
    



<div class="row">
      <div class="col-lg-8">
        <form class="container" action="{{ url_for('stag_encode') }}" method="POST" enctype=multipart/form-data> 
            <div class="form-group from-form" id ="full">
              <div class="card ">
                <div class="card-header">
                  Enter Article
                </div>
                <div class="card-body">
                  <textarea name="paragraph_text" class="text-field" id="Textarea"  rows="4" placeholder="....." style="height:150px;"></textarea>
                </div>
              </div>
               

             <div>
             <input type="file" name="image">
             </div>

            <input type="submit" class="btn btn-primary container" id="subBut">
        </form>
      </div>







    <h1>Result:</h1>
    {% if img_src %}
      <img src="{{ img_src }}">
    {% endif %}
    
    {% if extracted_text %}
      <p> The extracted text from the image above is: <b> {{ extracted_text }} </b></p>
    
    {% else %}
      The extracted text will be displayed here
    {% endif %}
  </body>
</html>